@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


/* TODO: a responsiveness/ media query issue 
I dont have the time to resolve right now

need to figure out the view port dimensions
for a desktop browser window taking up half the screen
when this happens, the margin between nav
items needs to decrease, otherwise the last nav item
is pushed off the screen.


*/

/* base styles*/
header {
  background: var(--background);
  text-align:center;
  position: fixed;
  z-index:999;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left:0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #222;
}


/* looks for a nav that is a sibling of nav
toggle, right after that class */
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}


.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* half screen desktop view */
// @media only and (max-width: 600px) {
//   nav {
//     background: black;
//   }
// }


/* this is for desktop view */
// @media only screen and (max-width: 600px) {
//   body {
//     background: red;
//   }       
//    }
  
/* 50% desktop  */
@media only screen and (min-width: 600px) {
  nav {
    width: 500px;
  }

  nav ul {
    max-width: 450px;
  }
  
  nav li {
    margin : 0px;
    padding: 0px;
    a {
      padding: 0px;
    }
  }
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax() 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }


  nav {

    // take everything from previous rulesets and get rid of them
    // not fully supported (edge, uhghh)
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    /* just for testing... see the line height */
    // border: 1px solid red;
  }


  nav a {
    opacity: 1;
    position: relative;
    padding-right: 30px; 
  }


  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

  nav li {
    margin-left: 3rem;
    margin-bottom: 0;
  }
}