/* For default styling and the two way info panels seen in about and skills sections */

section.panel {
	// display: flex;
  justify-self: center;
  max-width: 50rem;
  padding: 2rem 0;

	section section {
		// line-height: 1;
		margin-bottom: 6em;
	}

/* default stuff below- headings, paragraphs, buttons, images, list items, links */


	// styling for top of page heading in top level components- about, skills, experience, contact, projects
	h1 {
		font-weight: 900;
		font-size: 4rem;
		text-transform: capitalize;
	}

	// inner component subheadings
  h2 {
    // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
  }
  
  h3 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 200;
		margin-top: 2em;
  }
  
  p {
    line-height: 1.8;
  }
  
  .btn {
    background-color: rgb(36, 149,146);
    border: 2px solid white;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
    box-shadow: 0px 4px 3px -2px rgba(248, 248, 248, 0.75);
    transition: all ease-in-out 250ms;
  
  }

	// adds a hover effect so button lifts up and shows shadow with mouse over
  .btn:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 10px -1px rgba(255, 240, 240, 0.75); 
  }

	.select {
		justify-content: center;
		text-align: center;
		background-color: rgb(89, 167, 150);
	
		border : 2px solid black;
		height: 5em;
		width: 60em;
		margin: 10px;
		color: white;
		// font-size: medium;
		// font-weight: 100;
		
	}

	// trying to center image and name on homepage
	section.intro {
		margin-left: 9em;
	
	}
	
}

// not positive this belongs here
@media screen and (max-width: 600px) {
  section {
    max-width: 26rem;
  }
}



.small {
  display: none;
}

.blog-details li {
	margin-top: 10px;
}





