/* For styling the two way info panels seen in about and skills sections
note that we can probably do all the nesc showing and hiding of info (thru button click and hover events)
with pure react and no css. That makes the info panel a reusable component! */


//the whole component

h1 {
  font-weight: 900;
  font-size: 4rem;
  text-transform: capitalize;
}


.info-col-header {
  // font-weight: 1000;
  font-size: 2rem;
  margin-left: 3rem;
  text-transform: capitalize;
}


.small {
  display: none;
}


img.default-view {
 height: 50rem;
 width: 50rem;
}
/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}


// custom css for mobile
@media screen and (max-width: 600px) {

  /*TODO: when about page is
  viewed from a mobile device in landscape mode, the modal (or content- not sure which)
  only covers about 90% of the page, leaving the 10% vertical on right not colored same
  as the background */

  // showing images or image slider
  
  .default {
    display: none;
  }

  .small {
    display: block;
  }


  //
  .info-panel {
    max-width: 20em;
  }
  .row-dd {
    .open-row {
      display: block;
    }
  }
  section.closed-row {
    .btn {
      margin-top:1rem;      
    }
  }    

/* modal styles */
.backdrop{
  display: none;
}




}
/* Custom css for non-mobile- laptop, tablet, large pc */
@media screen and (min-width: 601px) {
  .row-dd {
    .open-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  section.closed-row {
    .btn {
      margin-top:3em;      
    }
  }

}

.row-dd {
  
  .info-col {
    h2 {
      text-transform: capitalize;
    }
  }
  
}
  
  .item {
    padding-top: 1rem;
  }
  
  
  .dd-trigger {
    font-weight: 900;
    text-transform: capitalize;
    background-color: rgb(59, 59, 59);
    border: 2px solid rgb(102, 94, 30);
    padding: 1rem;
  }

  .dd-col {
    margin-top: 2rem;
  }
