/* Media queries for tablet devices in both horizontal and vertical view port */

/*
	device: Ipad
	viewport : portrait	
*/




@media only screen and (min-width : 768px) and (min-height: 1024px) {

	// get page content from hanging on left side edge
	section.panel{
		padding: 2rem 5rem;
		
		width: 768px;
		height: 1024px;		


		section.intro {
			margin-left: 0;
		}
	}

	

	select.select {
		max-width: 600px;
	}

}
/* 
	device: Ipad
	viewport: landscape	
*/
@media only screen and (min-width : 1024px) and (min-height: 768px) {
	section.panel {
		width: 1024px;
		height: 768px;
	}
}

/*
	device: Kindle fire HDX Linux
	viewport : portrait	
*/
@media only screen and (min-width : 800px) and (min-height: 1280px) {
	section.panel {
		width: 800px;
		height: 1280px;
	}	
}
/* 
	device: Kindle Fire HDX Linux
	viewport: landscape	
*/
@media only screen and (min-width : 1280px) and (min-height: 800px) {
	section.panel {
		width: 1280px;
		height: 800px;
	}	
}
