/* body {
  background-color: aquamarine;
  color: black;
  margin: 400px;
}

.app-title {
  background-color:antiquewhite;
  max-width: 200vh;
  color: blueviolet;
  border: 9px groove white;
}

.app-nav ul {
  list-style: none;
  display: inline;
} */
@import './styles/nav.scss';

@import './styles/home.scss';

@import './styles/panel.scss';

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    nav ul {
      background-color: antiquewhite;
      display: block;
    }
  }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 