/* Here is a reference on how to set up common breakpoints */


/*Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
   
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 }



 /* distinguishing: mobile -> 50% desktop -> full screen desktop */

 /*mobile */
 @media only screen and (max-width: 600px) {
  body {
    background: red;
  }       
   }
  
   /* 50% desktop  */
   @media only screen and (min-width: 600px) {
      body {
        background:blue;
      }
   }
   
   /* full screen desktop */
   @media only screen and (min-width: 800px) {
      body {
        background: yellow;
      }
   }